<% include partials/header %>
<div class="container">
   
        <div class="col-md-12">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= post.image %>" alt = "Image preview">
                <div class="caption-full">
                    
                    <h4><a href=""><%=post.name %></a></h4>
                    <p><%=post.description %></p>
                   <em><p>Submitted By <%=post.author.username%></p></em> 
                  <% if(currentUser && post.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-warning" href="/posts/<%=post._id%>/edit">Edit</a>
                    <form id="deleteForm" action="/posts/<%=post._id %>?_method=DELETE" method="post">
                    <button class="btn btn-danger">Delete</button>
                    </form>

                 <% } %>
                  
                </div>

            </div>
            <div class="well">
           <div class="text-right">
                <a class="btn btn-success" href="/posts/<%=post._id %>/comments/new">Leave Review</a>
           </div>
           <hr>
           <% post.comments.forEach(function(comment)
{ %>
    <div class="row">
        <div class="col-md-12">
               <strong><%=comment.author.username %></strong> 
                <span class="pull-right">10 Days Ago</span>
                <p>
                        <%= comment.title %> 
                </p>
                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                <a class="btn btn-xs btn-warning" 
                href="/posts/<%=post._id%>/comments/<%=comment._id%>/edit">
                Edit
            </a>
            <form id = "deleteComment" action="/posts/<%=post._id%>/comments/<%=comment._id%>?_method=DELETE" method="post">
            
            <button class="btn btn-xs btn-danger">Delete</button>
            </form> 
            <% } %>
        </div>

    </div>

<% }) %>

            </div>

        </div>
        
    </div>
</div>



<p></p>


<% include partials/footer %>